
.container-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-image: url('../../public/10619.jpg');
     background-size: cover;
    background-position: center;
  }

  .login-head{
    text-align: center;
    color: #ccc;
    font-size: 30px;
    font-weight: bold;
    font-family: cursive;
  }
  
  .login-form {
    padding: 20px;
    border: 3px solid #ccc;
    border-radius: 25px;
    background-color: transparent;
   display: flex;
   flex-direction: column;
   cursor: pointer;
   margin: 20px;
  
  }

 
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    font-family: cursive;
  }

  .image-password-container{
    border: 2px solid #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: 20px;
    border-radius: 20px;
    width: 90%;
  }
  
  .input-login {
    width: 100%;
    padding: 8px;
    border-radius: 8px;
    background-color: transparent;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    font-family: cursive;
    outline: none;
    border: none;
    
  }

  /* Target specific input types */
.input-login {
  border: none;
}

.input-login {
  border: none;
}

.user-icon{
  width: 30px;
  height: 30px;
}




  ::placeholder{
    color: lightgray;
    font-size: 15px;
    font-weight: 300;
    font-family: cursive;
  }
  
  .login-button {
    width: 100%;
    padding: 10px;
    border: 2px solid #fff;
    border-radius: 3px;
    background-color: transparent;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    font-family: cursive;
    border-radius: 20px;
    align-self: center;
  }

  .login-button:hover{
    background-color:orange;
    border-radius: 20px;
    transition:all .7s ease-in-out ;
 

  }
  


  .login-register-forgot{
    margin: 0px;
    text-align: center;
  }

  .link-register,.link-forgot-password{
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    font-family: cursive;
    cursor: pointer;
   align-self: flex-end;
   margin: 0px;
   margin-bottom: 10px;
   transition: color 0.5s ease-in-out;
  }
  .link-register{
    margin: 0px;
   
  }

  

 .link-forgot-password:hover{
    color: orange;
  }

  span{
    text-decoration: underline;
  }

  span:hover{
   color: orange;
  }

  @media screen and (max-width:576px){
     
      .link-register,.link-forgot-password{
        font-size: 1em;

      }
    
  }

  .login-error{
    color: rgba(245, 26, 26, 0.701);
    font-size: 15px;
    font-weight: 700;
    font-family: cursive;

  }
  