.registration-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height:100vh ;
  border: 2px solid black;
background-image: url('../../public/design.jpg');
background-size: cover;
background-position: center;

  }

  .register-container{
    border: 2px solid #fff;
    padding: 20px;
    padding-bottom: 50px;
    border-radius: 20px;
    margin: 20px;
  }

  .register-header{
    margin-bottom: 20px;
    color: #fff;
    font-size: 30px;
    font-family: cursive;
    text-align: center;

  }
  
  .form-group {
    margin-bottom: 15px;

  }
  
  label {
    display: block;
    font-weight: bold;
  }
  
  .input-form{
    width: 100%;
    padding: 8px;
    border: 2px solid #ccc;
    border-radius: 20px;
    box-sizing: border-box;
    font-size: 18px;
    margin-top: 5px;
    background-color: transparent;
    outline: none;
    color: #fff;
    font-family: cursive;
  }
  
  .button-register {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px; 
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    font-family: cursive;
    width: 100%;
    border-radius: 30px;

  }
  
  .button-register:hover {
    background-color: orange;
    border-radius: 30px;
  }

  @media screen and (max-width:576px){
    .register-container{
      padding: 30px;
      padding-bottom: 20px;
      padding-top: 20px;
    }
   
}

.login-account{
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  font-family: cursive;
  text-align: center;
}

span{
  cursor: pointer;
}

  