.reset-password-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url('../../public/polygnol.jpg');
    background-size: cover;
    background-position: center;
}

.reset-container{
    border: 2px solid  #fff;
    padding-bottom: 30px;
    border-radius: 20px;
    padding: 20px;
    margin: 30px;
}

.reset-head{
    color: #fff;
    font-size: 30px;
    font-family: cursive;
    font-weight: bold;
    text-align: center;
}

.password{
    margin: 20px;
}

.reset-label{
    font-size: 18px;
    font-weight: bold;
    font-family: cursive;
}

.reset-input{
    padding: 8px;
    background-color: transparent;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    font-family: cursive;
    outline: none;
    border: 2px solid #fff;
    border-radius: 15px;
}

.reset-form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.reset-button{
    align-self: center;
}

.reset-login{
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    font-family: cursive;
    text-align: center;
    cursor: pointer;
  
}


